@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,900;1,300;1,400&display=swap');

.annotation {
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  height: auto;
}
